# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Logs and databases
*.log
*.sql
*.sqlite

# Build directories
target/
bin/
out/

# IDE-specific files and directories
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS-specific files
.DS_Store
Thumbs.db